* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import "./base/general";
@import "./base/mediaq";
@import "./base/variables";
@import "./componentes/header";
@import "./componentes/main";
@import "./componentes/footer";