*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.grid-container {
    display: grid;
}   
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
.boton {
    display: inline-flex;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: greenyellow;
    padding: 20px;
    text-decoration: none;
    border-radius: 10px;
    a img {
        width: 100%;
        height: 40px;
        &:hover {
            background-color: rgb(142, 135, 35);
            color: white;
                }
            }
}

/*----------------Transicion------------------------*/
.transicion {
    transition: all 2s;
}

.transicion:hover {
    width: 100%;
    height: 50vh;
    border: solid 10px rgb(151, 123, 71);
    background-size: cover;
}

/*---------Animaciones----------*/
.transicion {
    transition: all 2s;
    :hover {
        width: 100%;
        height: 30vh;
        border: solid 10px rgb(151, 123, 71);
        background-size: cover;
    }
}


/*---------Animaciones----------*/
.border {
    border:solid 10px rgb(151, 123, 71);
}


/*---------------Animaciones------------------*/
.titulo-animado {
    animation-name: texto;
    animation-duration: 3s;
    animation-iteration-count: 1;
}



@keyframes texto {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translate(0);
    }
}

