*{

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";}
    }