/*-------------------M   Q---------------------*/
@media screen and (max-width:1629px) 
{
    .hero p {
        text-align: center;
        width: 60%;
    }
}


@media screen and (max-width:1629px) 
{
    .grid-container {
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:582px) 
{
    .header nav ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:480px) 
{
    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }
}
@media screen and (max-width:360px)
{
    .hero h1 {
        font-size:30px;
    }
}
