/*-------------------M   Q---------------------*/
@media screen and (max-width:1630px) {
    .hero p {
        width: 100%;
    }
}


@media screen and (max-width:1630px) {
    .grid-container {
        text-align: center;
        justify-content: center;
    }

}

@media screen and (max-width:1269px) {
    .main {
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width:1269px) {
    .main {
        text-align: center;
        justify-content: center;        
    }
}

@media screen and (max-width:582px) {
    .header nav ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }
    .form-register {
        width: 400px;
    }
}

@media screen and (max-width:360px) {
    .hero h1 {
        font-size: 30px;
    }
}
@media sceen and (max-width:423) {
    .form-register {
        width: 400px;}
}