/*-------------------M   Q---------------------*/
@media screen and (max-width:1629px) 
{
    .hero p {
        text-align: center;
        width: 60%;
    }
}


@media screen and (max-width:1629px) 
{
    .grid-container {
        text-align: center;
        justify-content: center;
    }
}
@media screen and (max-width:1233px)
{.section__tres{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    width:100%;
    }
    .section__cuatro{
        flex-direction:column;
        justify-content:center;
        text-align:center;
        width:100%;
    }
}
@media screen and (max-width:1228px)
{
    .section__tres{
        justify-content:center;
        text-align:center;
        width:100%;
        }
    .section__cuatro{
        width: 100%;
        justify-content:center;
        text-align:center;
    }
}

@media screen and (max-width:1030px)
{.section__tres{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    width:100%;
    height: 30vh;
    }
    .section__cuatro{
        flex-direction:column;
        justify-content:center;
        text-align:center;
        width:100%;
        height:30vh ;
    }
    .footer ul{
        text-decoration: none;
        width: 70%;
        height: 20vh;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer img{
        text-decoration: none;
        width: 40px;
        height: 40%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width:582px) 
{
    .header nav ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:480px) 
{
    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 20px;
    }
}
@media screen and (max-width:360px)
{
    .hero h1 {
        font-size:30px;
    }
}
