/*----------------Sect uno--------------*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/1229023/pexels-photo-1229023.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;

    a {
        background-color: greenyellow;
        text-decoration: none;
        color: black;
        font-size: 16px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 15px;

        &:hover {
            background-color: olivedrab;
            color: white;

            p {
                font-size: 18px;
                color: darkkhaki;
            }
        }
    }
}

.main {
    background-color: #CAD593;
    grid-area: main;

    section {
        padding: 20px;

        div {
            font-size: 18px;
            color: wheat;
            font-weight: bold 900;

            h1 {
                font-size: 50px;
                color: wheat;
            }
        }
    }
}

/*--------------Sect dos-----------------*/
.categorias {
    h2 {
        font-size: 30px;
        color: black;

        .categorias> {
            div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                div {
                    width: 300px;
                    height: 500px;
                    border: 1px black;
                    box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 300px;
                        height: 400px;
                        border-radius: 15px 15px 0 0;
                    }
                }
            }
        }
    }
}

/*----------------Sect tres--------------*/
h3 {
    color: black;
    font-size: 25px;

    .section__tres {
        background-color: #F7CE5B;

        p {
            font-size: 18px;
            color: black;
            border: solid rgb(209, 176, 116);
            padding: 20px;
            margin: 20px;
        }
    }
}

/*----------------Sect cuatro------------------*/
h4 {
    font-size: 18px;
    color: black;

    .section__cuatro {
        background-color: #DDA77B;

        p {
            font-size: 18px;
            color: black;
            border: solid black;
            padding: 20px;
            margin: 20px;
        }
    }
}

/* -----------CONTACTO--------------- */
/* ----------------------------HEADER------------------------------ */
.header {
    img {
        nav {            
            button {
                    span {}
                }

                div {
                    div {
                        a {
                            
                        }
                    }
                }           
        }
    }
}

/* --------------------------MAIN------------------------------ */
.grid-container {
    .main {
        section {
            h1 {
                p {}
            }
        }
    }
}

.section__contacto {
    h3 {
        div {
            p {}            
        }

        div {
            h4 {}
        }
    }
}

/* ---------------------------FOOTER--------------------------- */
.footer {
    img {
        ul {
            li {
                a {}
            }
        }

        div {
            img {}
        }
    }
}

/* -----------Pag Productos---------- */
h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;

    .slider h2 {
        font-size: 30px;
        color: black;

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            div {
                width: 300px;
                height: 400px;
                border: 1px black;
                box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.75);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                img {
                    width: 300px;
                    height: 400px;
                    border-radius: 15px 15px 0 0;
                }
            }

        }
    }
}



/* -------INICIAR SESION-------- */
.form-register {
    width: 400px;
    background-color: rgb(120, 155, 65);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;

    p {
        height: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 40px;

        a {
            color: rgb(131, 68, 32);
            text-decoration: none;

            &:hover {
                color: rgb(53, 46, 33);
                text-decoration: underline;
            }
        }
    }
}

.controls {
    width: 100%;
    background-color: rgb(96, 221, 23);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register .botons {
    width: 100%;
    background: #aedb8a;
    border: none;
    padding: 12px;
    color: rgb(88, 79, 60);
    margin: 16px 0;
    font-size: 16px;
}